$pool-container: 400px;

*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}

.form-container {
  width: 500px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  .select-option {
    display: flex;
    flex-direction: column;
    margin: 10px;
  }
}

.pool-container {
  background-color: #ccc;
  width: $pool-container;

  padding: 10px;
  display: flex;
  flex-direction: column;
  #side-step {
    background-color: black;
  }
  #main-pool {
    width: 100%;
    background: red;
    display: inline-block;
  }
}
