$pool-container: 400px;
$border-color: #5a95b4;
$border-width: 2px;
$pool-color: linear-gradient(120deg, #6dcdeb 0%, #7cc0eb 100%);

*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}
.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}

.form-container {
  width: 500px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  .select-option {
    display: flex;
    flex-direction: column;
    margin: 10px;

    color: #777777;
    select {
      height: 35px;
      border: solid 3px #a9a9a9;
      margin: 3px 0 3px 0;
      border-radius: 5px;
      color: #777777;
      width: fit-content;
      min-width: 100px;
      appearance: none;

      padding: 3px;
      &:focus {
        outline: none;
      }
    }
  }
}

#diagram-container {
  display: flex;
  width: max-content;
  background: #ccc;
  width: $pool-container;
  align-items: flex-end;
  padding: 10px 5px 10px 5px;
  #pool-container {
    width: 100%;
    margin: 0 5px 0 5px;
    display: flex;
    flex-direction: column;
    filter: drop-shadow(0px calc(#{$border-width} * (-1)) 0px $border-color)
      drop-shadow(0px $border-width 0px $border-color)
      drop-shadow(calc(#{$border-width} * (-1)) 0px 0px $border-color)
      drop-shadow($border-width 0px 0px $border-color);
    position: relative;
    #side-step {
    }
    #main-pool {
      width: 100%;
      display: inline-block;
    }
    #side-step,
    #main-pool {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    #side-step::before,
    #main-pool::before {
      content: "";

      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: $pool-color;
    }
  }
  #roller {
    width: 20px;

    background: blue;
    margin: 0 5px 0 5px;
  }
}
